<div id="login-page" class="login-box">
  <h1>Log In to Your Account</h1>
  
  <%= erb :'auth/login' %>
  <a class="left help-link" href="<%= url('/forgot_pwd') %>">Forgot password?</a>
  <a class="right help-link" href="<%= url('/signup') %>">Don't have account? SIGNUP</a>
</div>
