<div id="forgot-pass-page" class="login-box">
  <h1>Request password change</h1>
  
  <div class="login-wrapper">
    <form id="forgot_pwd_form" action="<%= url('/reset_pwd') %>" method="post">
      <div class="field">
        <label for="email">Email</label>
        <input id="user_email" name="email" type="email" />
      </div>  
      <div class="submit field">
        <input type="submit" value="Reset password" />
      </div>
    </form>
  </div>
  
  <a class="left help-link" href="<%= url('/login') %>">Try again? LOGIN</a>
  <a class="right help-link" href="<%= url('/signup') %>">Don't have account? SIGNUP</a>
</div>



<div id="forgot_pwd_page" class="login-box">
  
</div>
